<!-- <h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p> -->

<div id="header">
  <h1 id="title">Cocktails</h1>
  <div id="button">
    <p class="btn btn-primary"><%= link_to "create new cocktail", new_cocktail_path %></p>
  </div>
</div>




<ul class="cards">
  <% @cocktails.each do |cocktail| %>


    <li class="cards__item">
      <div class="card">
        <div class="card__image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.path, width: 0.25, crop: :scale %>')"></div>
        <div class="card__content">
          <div class="card__title"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
          <p class="card__text">Best cocktail ever. Click to get drunk. Best cocktail ever. Click to get drunk. Best cocktail ever. Click to get drunk. Best cocktail ever. Click to get drunk.</p>
          <button class="btn btn--block card__btn">Button</button>
        </div>
      </div>
    </li>


  <% end %>
</ul>
